body {
    background-color: #235,235,235;
    text-align: justify;
    font-family: helvetica, monospace;
    text-decoration: none;
    padding-top: 250px;
}

h1 {
    font-family: helvetica,  monospace;;
    font-weight: bold;
    font-size: 110px;
    letter-spacing: 4px;
    padding-left: 75px;
}

h2 {
    font-family: helvetica,  monospace;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 2px;
    padding-left: 79px;
} 

